body{
  text-align:center;
}

#first-img{
  width: 800px;
  height: 480px;
}

#after1-img{
  width: 800px;
  height: 480px;
  display: none;
}

#after2-img{
  width: 800px;
  height: 480px;
  display: none;
}

button:hover{
  background-color: silver;
}

canvas {
  display: none;
  background-color: aqua;
}

#return2-btn{
  display: none;
}

#next2-btn{
  display: none;
}